extends layout

block content
  form(action=postPath method="post" enctype="multipart/form-data")
    input(type="file" name="img" id="img")
    input(type="text" name="text" placeholder="text" id="text" required)
    button#submitButton(type="submit") Post
  br
  a(href=deletePath) delete
